.main {
  background-color: #EEE;
  width: 336px;
  margin: 16px 38%;
  border-radius: 4px;
}

.train {
  list-style-type: none;
}

h1 {
  color: #999;
  margin: 50px 35%;
}

.goBack {
  margin: 0 41.6%;
}

.forBtn {
  display: inline-block;
  border-radius: 2px;
}

.save {
  margin-left: 12%;
}

.cancel {
  margin-left: 38%;
}

